<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/absenses">Absenses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cours">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/professors">Professors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/students">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/classroom">Classrooms</a>
      </li>
    </ul>
  </div>
</nav>
